.relative > div > div {
    display: none;
    position: absolute;
    top: 100%; /* Posiciona abaixo do botão */
    left: 0;
    min-width: 150px; /* Largura mínima do dropdown */
}

.relative:focus-within > div > div {
    display: block;
}
